<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797239478378-hohli82aeur8c5ibvs5jff53ed0cs56t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797239478378-hohli82aeur8c5ibvs5jff53ed0cs56t</string>
	<key>API_KEY</key>
	<string>AIzaSyA6fXOqkgYs0BfDixNujtdt2lUh9wtmGTo</string>
	<key>GCM_SENDER_ID</key>
	<string>797239478378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ultimatum.academGora</string>
	<key>PROJECT_ID</key>
	<string>academdevelop</string>
	<key>STORAGE_BUCKET</key>
	<string>academdevelop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797239478378:ios:ff72b8617a0cf6a1f86213</string>
</dict>
</plist>